<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FlyAway</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>adminVerify</display-name>
    <servlet-name>adminVerify</servlet-name>
    <servlet-class>com.adminVerify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminVerify</servlet-name>
    <url-pattern>/adminVerify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Premises</display-name>
    <servlet-name>Premises</servlet-name>
    <servlet-class>com.Premises</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Premises</servlet-name>
    <url-pattern>/Premises</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Resetup</display-name>
    <servlet-name>Resetup</servlet-name>
    <servlet-class>com.Resetup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Resetup</servlet-name>
    <url-pattern>/Resetup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addflights</display-name>
    <servlet-name>Addflights</servlet-name>
    <servlet-class>com.Addflights</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addflights</servlet-name>
    <url-pattern>/Addflights</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>listairlines</display-name>
    <servlet-name>listairlines</servlet-name>
    <servlet-class>com.listairlines</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listairlines</servlet-name>
    <url-pattern>/listairlines</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>listflights</display-name>
    <servlet-name>listflights</servlet-name>
    <servlet-class>com.listflights</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listflights</servlet-name>
    <url-pattern>/listflights</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>listsourcedestination</display-name>
    <servlet-name>listsourcedestination</servlet-name>
    <servlet-class>com.listsourcedestination</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listsourcedestination</servlet-name>
    <url-pattern>/listsourcedestination</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>flightno</display-name>
    <servlet-name>flightno</servlet-name>
    <servlet-class>com.flightno</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>flightno</servlet-name>
    <url-pattern>/flightno</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>validate</display-name>
    <servlet-name>validate</servlet-name>
    <servlet-class>com.validate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>validate</servlet-name>
    <url-pattern>/validate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>flightServlet</display-name>
    <servlet-name>flightServlet</servlet-name>
    <servlet-class>com.flightServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>flightServlet</servlet-name>
    <url-pattern>/flightServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>flightServlet2</display-name>
    <servlet-name>flightServlet2</servlet-name>
    <servlet-class>com.flightServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>flightServlet2</servlet-name>
    <url-pattern>/flightServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userdetailverify</display-name>
    <servlet-name>userdetailverify</servlet-name>
    <servlet-class>com.userdetailverify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userdetailverify</servlet-name>
    <url-pattern>/userdetailverify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>bookin</display-name>
    <servlet-name>bookin</servlet-name>
    <servlet-class>com.bookin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bookin</servlet-name>
    <url-pattern>/bookin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>paymentcheck</display-name>
    <servlet-name>paymentcheck</servlet-name>
    <servlet-class>com.paymentcheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>paymentcheck</servlet-name>
    <url-pattern>/paymentcheck</url-pattern>
  </servlet-mapping>
</web-app>